.host-div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 3rem;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    // position: absolute;
    // top: 0%;
    // left: 0%;

    &__h2 {
        font-family: $text-font;
        color: $text-colour;
        font-size: 1.8;
    }

    &__img {
        width: 4rem;
        height: 4rem;
        border-radius: 360px;
        object-fit: cover;
        margin-left: 2rem;
    }
}

.listing {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10rem;
    padding-right: 10rem;

    &__title-div {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    &__img-div {
        width: 100%;
        height: 25%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 3rem;
    }

    &__img {
        width: 49.5%;
        height: 100%;
        object-fit: fill;
    }

    &__img-1 {
        border-radius: 10px 0px 0px 10px;
    }

    &__img-2 {
        border-radius: 0px 10px 10px 0px;
    }

    &__info-div {
        margin-bottom: 4rem;
    }
}