.login-container {
    width: 100vw;
    height: 80vh;
    @include center;
}

.login-div {
    width: 50rem;
    height: 35rem;
    @include center-column;
    justify-content: space-evenly;

    &__h1 {
        font-family: $text-font;
        color: $text-colour;
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    &__div {
        width: 50%;
        @include button-beginnings;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__icon {
        width: 1rem;
        height: 1rem;
        margin-right: 1rem;
    }

    &__border {
        width: 50%;
        border-top: 1px dashed $text-colour;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }

    &__form-div {
        width: 50%;
        @include button-beginnings;
    }

    &__input {
        background: #F9F9F9;
    }

    &__btn {
        color: white;
        background-color: $feature-colour;
    }

    &__input:focus {
        outline: none;
    }

    &__input:focus::placeholder {
        color: transparent;
    }
}