.side-nav {
    width: 20vw;
    height: 100vh;
    background: $light-mist;
    @include spread-column;
    padding-top: 5rem;
    padding-bottom: 5rem;
    float: left;
    position: relative;
    z-index: 1000;

    &__logo-div {
        display: flex
    }

    &__ul {
        padding-bottom: 30rem;
        position: absolute;
        top: 25%;
        left: 30%;
    }

    &__li {
        padding-top: 1rem;
    }

    &__login-container {
        @include center-column;
    }

    &__login-btn {
        @include button-beginnings;
        width: 10rem;
        margin-bottom: 1rem;
        background: none;
    }

    &__sign-up-btn {
        @include button-beginnings;
        width: 10rem;
        background: white;
    }

    &__profile-div {
        display: flex;
        position: absolute;
        top: 90%;
        left: 28%;
        @include center;
    }

    &__profile-div-img {
        width: 3rem;
        height: 3rem;
        border-radius: 360px;
        margin-right: 1rem;
        border: 3px solid white;
        box-shadow: $box-shadow;
        cursor: pointer;
    }

    &__name {
        cursor: pointer;
    }
}

.top-nav {
    width: 100vw;
    height: 10vh;
    padding-left: 3rem;
    display: flex;
    align-items: center;
}