$logo-font: 'Shrikhand', cursive;
$text-font: 'Roboto', sans-serif;

$text-colour: #606060;
$light-text: #C4C4C4;

$feature-colour: #5DCBDC;
$light-mist: #F8F8F8;

$box-shadow: -2px 2px 5px lightgray;